{% extends 'base.html.twig' %}

{% block body %}
    <h1>Unidadacademica</h1>

    <table>
        <tbody>
            <tr>
                <th>Iduniacdemica</th>
                <td>{{ unidadAcademica.iduniacdemica }}</td>
            </tr>
            <tr>
                <th>Uniacademica</th>
                <td>{{ unidadAcademica.uniacademica }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('unidadacademica_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('unidadacademica_edit', { 'iduniacdemica': unidadAcademica.iduniacdemica }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
